Yellow/env
*~
*.pyc
*.swp
pip-log.txt
data/
\#*
.\#*
paster.log

# Personal config file
development.ini
abourget.ini

# Test stuff
Yellow/tests/chromedriver*
Yellow/tests/screenshots
Yellow/tests/build/*
Yellow/.coverage
Yellow/coverage.xml
Yellow/nosetests.xml
