app/env
*~
*.pyc
*.swp
pip-log.txt
data/
\#*
.\#*
paster.log

# Personal config file
development.ini
abourget.ini

# Test stuff
app/tests/chromedriver*
app/tests/screenshots
app/tests/build/*
app/.coverage
app/coverage.xml
app/nosetests.xml
