/* Yellow Team Layout  */
body{
    font-family:"Helvetica Neue", Arial, sans-serif;
}
::-moz-selection { background: #84e0fe; color: #fff; text-shadow: none; }
::selection { background: #84e0fe; color: #fff; text-shadow: none; }


#pDebug{
    display: none!important;
}

#container{
    position:relative;
    min-height: 679px;
    width: 100%;
}

#container>.wrap{
    max-width: 768px;
margin: 0 auto;
width: 100%;
height: 100%;
position: relative;
}
.page{
    min-height: 679px;
    position:absolute;
    top:0;
    left:0;
    background:#fff;
}

.page:not(.current){
    display: none;
}

.view .wrap-spinner{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:20;
    background:rgba(0,0,0,0.75);
}
.view .spinner{
    position:absolute;
    top:30%;
    height:40px;
    width: 100%;
}

header{
    border-bottom:5px solid #84e0fe;
    overflow:hidden;
    text-align:center;
}
header section{
    background: #d5d4d4; /* Old browsers */
    background: -moz-linear-gradient(top, #d5d4d4 0%, #d9d8d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d4d4), color-stop(100%,#d9d8d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d5d4d4 0%,#d9d8d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d5d4d4 0%,#d9d8d8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d5d4d4 0%,#d9d8d8 100%); /* IE10+ */
    background: linear-gradient(top, #d5d4d4 0%,#d9d8d8 100%); /* W3C */

    padding:10px 0;
    border-bottom:1px solid #b8b8b8;
    overflow: hidden;
}

#activity-page header section{
    border-bottom:none;
}

header h1{
    overflow: hidden;
    margin: 0 auto;
    float: none;
    width: 330px;
    overflow:hidden;
}
header h1 a, header h1 a:visited{
    color: #000;
    font-size:17px;
}

header section a{
    display:inline-block;
    float:left;
}
header section strong{
    text-transform:uppercase;
    color: #262626;
    display:inline-block;
    margin-top:3px;
    margin-left:13px;
    font-size:17px;
    float:left;
    line-height: 3.4ex;
}
header::after{
    content:'';
    height:30px;
    width:100%;
    display:block;
    position:absolute;
    bottom:-35px;
    z-index:2;
    left:0;

    background: none; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000000 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000000 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000000 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(top, #000000 0%,rgba(0,0,0,0) 100%); /* W3C */
}



header a.toggle-filters{
    float:right;
    display: inline-block;
    line-height:1em;
    border-radius:4px;
    border:3px solid #84e0fe;
    text-shadow:1px 1px 1px #fff;
    color: #174463;
    font-weight:bold;
    text-decoration:none;
    padding:3px 5px;
    text-align:center;
    margin-top:10px;
    margin-right:10px;

    background: #afe8fb; /* Old browsers */
    background: -moz-linear-gradient(top, #afe8fb 0%, #84e0fe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afe8fb), color-stop(100%,#84e0fe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #afe8fb 0%,#84e0fe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #afe8fb 0%,#84e0fe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #afe8fb 0%,#84e0fe 100%); /* IE10+ */
    background: linear-gradient(top, #afe8fb 0%,#84e0fe 100%); /* W3C */

}


form.filter, header section.sec{
    padding:10px 0;
    display:block;
    background: #d3d2d2; /* Old browsers */
    background: -moz-linear-gradient(top, #d3d2d2 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d2d2), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d3d2d2 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d3d2d2 0%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d3d2d2 0%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(top, #d3d2d2 0%,#f4f4f4 100%); /* W3C */
    border-top:1px solid #fff;

}

form.filter select, form.filter input{
    display-inline:block;
    margin:0 auto;
    width:70%;
}

#home-page ol{
    list-style:none;
    padding:0;
    margin:0;
    height:100%;
    max-height:400px;
    /*overflow-y:auto;
    overflow-x:hidden;*/
}
#home-page ol>li{
    float:left;
    width:100%; 
    border-top:1px solid #000000;
    background: #353535; /* Old browsers */
    background: -moz-linear-gradient(top, #353535 0%, #262626 81%, #262626 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(81%,#262626), color-stop(100%,#262626)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #353535 0%,#262626 81%,#262626 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #353535 0%,#262626 81%,#262626 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #353535 0%,#262626 81%,#262626 100%); /* IE10+ */
    background: linear-gradient(top, #353535 0%,#262626 81%,#262626 100%); /* W3C */
}
#home-page li>a{
    padding:10px 0;
    display: block;
    height:100%;
    width: 100%; 
    min-height:52px;
    float:left;
    -moz-transition:0.2s linear background;
    -webkit-transition:0.2s linear background;
    transition:0.2s linear background;
}
#home-page li>a:hover{
    background:rgba(255,255,255,0.1);
}

#home-page ol>li:first-child{
    border:none;
}
#home-page li p {
    margin:0;
}

#home-page li figure{
    float:left;
    width:25%;
    text-align:center;
}

#home-page li .content{
    float:left;
    width:62%;
}
#home-page li span.arrow{
    display: block;
    float:left;
    margin-top:12px;
    width: 10%;
    height: 40px;
    background: url(/static/images/fleche.png) no-repeat center center;
    background-size: 3ex;
}

#home-page li a{
    color: #fff;
    display: block;
    text-decoration:none;
    cursor:pointer;
}
#home-page li a:hover{
    color: #fff;
}
#home-page li h3{
    margin:0;
    font-size:13px;
    text-shadow:1px 1px 1px #000;
    text-transform:uppercase;
    font-weight:bold;
    font-style:italic;
    margin-bottom:5px;
    line-height:1em;
}

#activity-page .content{
    background: #353535; /* Old browsers */
    background: -moz-linear-gradient(top, #353535 0%, #262626 81%, #262626 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(81%,#262626), color-stop(100%,#262626)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #353535 0%,#262626 81%,#262626 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #353535 0%,#262626 81%,#262626 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #353535 0%,#262626 81%,#262626 100%); /* IE10+ */
    background: linear-gradient(top, #353535 0%,#262626 81%,#262626 100%); /* W3C */

    overflow:hidden;
    color: #ffffff;;
    display:table;
    width:100%;
}
#activity-page .colLeft{
    width:67%;
    border-right:1px solid #636363;
    display:table-cell;
    padding:10px;
}
#activity-page .colRight{
    width:100px;
    border-left:1px solid #000;
    min-height:50px;
    display:table-cell;
    padding:10px;
}

#activity-page .colLeft p.address{
    color: #b8b8b8;
    font-size:11px;
    margin-bottom: 7px;
    margin-top: 0;
    font-weight:bold;
}
#activity-page .colLeft p.phone{
    overflow:hidden;
    float:right;
    margin-top:5px;
}
#activity-page .colLeft p.phone span{
    display:block;
    float:left;
    font-size:11px;
    width:50px;
    padding-right:0;
    text-align:right;
}

#activity-page .colLeft p.phone a{
    float:right;
    display:block;
    color: #84e0fe;
    font-size:20px;
    text-decoration:none;
    margin:4px 0 0 6px;
}

#activity-page .colRight p{
    margin:0;
}


#activity-page .content h3{
    color: #ffffff;
    text-shadow:1px 1px 1px #000;
    text-transform:uppercase;
    line-height:1em;
    padding:0;
    margin:0;
    font-style:italic;
    font-size:15px;
    margin-bottom:7px;
}
#activity-page .content h4{
    color: #84e0fe;
    padding:0;
    margin:0;
    font-size:12px;
    padding:6px 0 0 0;
    line-height:1em;
    font-weight:normal;
    padding-right:5px;
}
#activity-page .colLeft p{
    float:left;
    margin:0;
    font-size:12px;
    line-height:1em;
    margin-top:6px;
    color: #d3d2d2;
    clear:both;
}
#activity-page .phone a{
    font-size:14px;
    color: #fff;    
}

#activity-page .back{
    display: inline-block;
    float:left;
}
#activity-page .howtogo{
    float:right;
    margin:0;
    padding:0;
    margin-right:10px;
}
#activity-page .howtogo li{
    float:left;
    list-style:none;
    font-size:13px;
    margin-left:10px;
    line-height:24px;
}

#activity-page .howtogo a{
    display: inline-block;
    border:2px solid #84e0fe;
    width:40px;
    height:40px;
    text-indent:-99999px;
    position:relative;

    background: #ade8fb; /* Old browsers */
    background: -moz-linear-gradient(top, #ade8fb 0%, #84e0fe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ade8fb), color-stop(100%,#84e0fe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ade8fb 0%,#84e0fe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ade8fb 0%,#84e0fe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ade8fb 0%,#84e0fe 100%); /* IE10+ */
    background: linear-gradient(top, #ade8fb 0%,#84e0fe 100%); /* W3C */

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;        
}
#activity-page .howtogo a:before{
    content:'';
    position:absolute;
    width:40px;
    height:40px;
    top:0;
    left:0;
}
#activity-page .howtogo a.car:before{
    background: url(/static/images/sprite_transports.png) no-repeat -116px 1px;
}

#activity-page .howtogo a.bike:before{
    background: url(/static/images/sprite_transports.png) no-repeat -2px 0;
}

#activity-page .howtogo a.foot:before{
    background: url(/static/images/sprite_transports.png) no-repeat -41px 0;
    left: 3px;
    width:37px;
}

#activity-page .howtogo a.bus:before{
    background: url(/static/images/sprite_transports.png) no-repeat -71px 1px;
}


#activity-page .howtogo a:hover{
    background: #84e0fe; /* Old browsers */
}


#activity-page .time{
    color:#84e0fe;
    font-size:13px;
    font-weight:bold;
    text-align:left;
    margin:0;
    line-height:1em;
    margin-bottom:15px;
}
#activity-page .time span{
    display:block;
    font-size:20px;
    margin-top:4px;
}

#activity-page .colRight .price{
    font-size:17px;
    font-weight:bold;
    margin-top:10px;
}

/*


#activity-page .where{
    color:#d3d2d2;
    font-size:13px;
    font-weight:bold;
    text-align:left;
    margin:0;
    line-height:1em;
}
#activity-page .where span{
    display:block;
    font-size:18px;
    margin-top:4px;
}
*/
#activity-page a.back{
    display: inline-block;
    background:#d2d1d1 url(/static/images/home.png) no-repeat 6px center;
    width:38px;
    height:34px;
    border:2px solid #b8b8b8;
    text-indent:-99999px;
    cursor:pointer;
    position:relative;
    margin-left:8%;
    margin-top:2px;
    -webkit-border-radius:0 4px 4px 0;
    -moz-border-radius:0 4px 4px 0;
    border-radius:0 4px 4px 0;
}
#activity-page a.back:before{
    content: '';
    position: absolute;
    left: -40px;
    top: -2px;
    border: 19px solid transparent;
    border-right-color: #B8B8B8;
    z-index:2;
}
#activity-page a.back:after{
    content: '';
    position: absolute;
    left: -34px;
    top: 0;
    border: 17px solid transparent;
    border-right-color: #D2D1D1;
    z-index: 3;
}
#activity-page a.back:hover{
    background-color:#c8c8c8;
}
#activity-page a.back:hover:after{
    border-right-color: #c8c8c8;
}


.occurence ul.meta {
    float:left;
    color: #84e0fe;
    font-size:12px;
    margin: 3px 0 0 0;
    padding: 0;
    line-height:1em;
    padding-top: 4px;
}
.occurence ul.meta li{
    float:left;
    list-style:none;
    margin-left:15px;
    text-align:center;
}
.occurence > a {
  padding-bottom: 5px;
}
.occurence ul.meta li:first-child{
    margin-left:0;
}


/*
 * Petites pastilles là.. avec la date en gros bleu et aussi la proximité
 * on les utilise comme: ".meta .time" ".meta .dist"
 */
.meta span,
.meta small {
    color: #d3d2d2;
    font-size:12px;
    display:block;
    margin-bottom:2px;
    text-align:left;
}
.meta small { /* common top labels */
  font-size: 75%;
  padding-bottom: 0.5ex;
}
.meta .time {
  color: #84E0FE;
  width: 14ex;
}
.meta .time small { /* time description */
  font-weight: bold;
  color: #84E0FE;
}
.meta .time span { /* time delay */
  color: #84E0FE;
  font-size: 200%;
  font-weight: bold;
}
.meta .dist {
    color: #d3d2d2;
}
.meta .dist small { /* label */
}
.meta .dist span { /* value */
  display: inline;
  font-size: 200%;
  font-weight: bold;
}

/**
 * Pour la pastille icône + prix
 */
.icon_price span.price {
    text-align:center;
    display: block;
    clear: both;
    font-size: 65%;
    line-height: 2ex;
}




#map-canvas{
  height: 300px;
  width: 100%;
}


/* Transition/animation (inspired by jQTouch) */
.in,.out{
    -webkit-animation-duration:250ms;-webkit-animation-fill-mode:both;-webkit-animation-timing-function:ease-in-out}
.in{z-index:10}
.in:after{content:"";position:absolute;display:block;top:0;left:0;bottom:0;right:0}
.out{z-index:0 !important}

.slideleft.in {
    -webkit-animation-name: slideLeftIn;
}

.slideleft.out {
    -webkit-animation-name: slideLeftOut;
}

.slideright.in {
    -webkit-animation-name: slideRightIn;
}

.slideright.out {
    -webkit-animation-name: slideRightOut;
}

@-webkit-keyframes slideLeftIn {
    0% {
        -webkit-transform: translateX(100%);
    } 
    100% {
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes slideLeftOut {
    0% {
        -webkit-transform: translateX(0px);
    } 
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes slideRightIn {
    0% {
        -webkit-transform: translateX(-100%);
    } 
    100% {
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes slideRightOut {
    0% {
        -webkit-transform: translateX(0);
    } 
    100% {
        -webkit-transform: translateX(100%);
    }
}



/* css for ipad and desktop */
@media handheld, only screen and (min-width: 767px) {
    
}

@media handheld, only screen and (max-width: 480px) {
    header h1{
        width: 280px;
    }    
    header h1 img{
        width:135px;
    }
    header section strong{
        font-size:14px;
    }
}

