/* Yellow Team Layout  */
body{
    font-family:"Helvetica Neue", Arial, sans-serif;
}

#pDebug{
    display: none!important;
}

#container{
    position:relative;
    min-height: 679px;
    width: 100%;
}
.page{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    min-height: 679px;
    position:absolute;
    top:0;
    left:0;
    background:#fff;
}

.page:not(.current){
    display: none;
}

.view{
    margin-top:57px;
}

.view .wrap-spinner{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:20;
    background:rgba(0,0,0,0.75);
}
.view .spinner{
    position:absolute;
    top:30%;
    height:40px;
    width: 100%;
}

header{
    border-bottom:5px solid #84e0fe;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:25;
}
header::after{
    content:'';
    height:30px;
    width:100%;
    display:block;
    position:absolute;
    bottom:-35px;
    z-index:2;
    left:0;

    background: none; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000000 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000000 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000000 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(top, #000000 0%,rgba(0,0,0,0) 100%); /* W3C */
}

header section{
    border-bottom:1px solid #b8b8b8;
    overflow:hidden;
    line-height:50px;
    background: #f4f4f4; /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 1%, #f4f4f4 67%, #d3d2d2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f4f4f4), color-stop(67%,#f4f4f4), color-stop(100%,#d3d2d2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 1%,#f4f4f4 67%,#d3d2d2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 1%,#f4f4f4 67%,#d3d2d2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 1%,#f4f4f4 67%,#d3d2d2 100%); /* IE10+ */
    background: linear-gradient(top, #f4f4f4 1%,#f4f4f4 67%,#d3d2d2 100%); /* W3C */
}

header h1{
    margin:0;
    float:left;
    margin-left:10px;
}
header h1 a, header h1 a:visited{
    color: #000;
    font-size:17px;
}

header a.toggle-filters{
    float:right;
    display: inline-block;
    line-height:1em;
    border-radius:4px;
    border:3px solid #84e0fe;
    text-shadow:1px 1px 1px #fff;
    color: #174463;
    font-weight:bold;
    text-decoration:none;
    padding:3px 5px;
    text-align:center;
    margin-top:10px;
    margin-right:10px;

    background: #afe8fb; /* Old browsers */
    background: -moz-linear-gradient(top, #afe8fb 0%, #84e0fe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afe8fb), color-stop(100%,#84e0fe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #afe8fb 0%,#84e0fe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #afe8fb 0%,#84e0fe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #afe8fb 0%,#84e0fe 100%); /* IE10+ */
    background: linear-gradient(top, #afe8fb 0%,#84e0fe 100%); /* W3C */

}

form.filter{
    padding:0 5%;
    background:#fff;
}
form.filter .row .sixcol{
    width: 48%;
    padding:0;
    margin-right: 3.8%;
    float:left;
}
form.filter .row .last{
    margin-right:0;
}

form.state-close{
    display: none;
}

form.filter label{
    display: block;
    text-align:center;
    color: #262626;
    font-weight:bold;
    font-size:12px;
}

form.filter select, form.filter input{
    display-inline:block;
    width:100%;
}

form.filter .row{
    margin-top:5px;
    padding-bottom: 5px; 
}
form.filter .row:first-child{
    margin-top:0;
}

#home-page ol{
    list-style:none;
    padding:0;
    margin:0;
    height:100%;
    max-height:400px;
    overflow-y:auto;
    overflow-x:hidden;
}
#home-page ol>li{
    float:left;
    width:100%; 
    border-top:1px solid #000000;
    background: #353535; /* Old browsers */
    background: -moz-linear-gradient(top, #353535 0%, #262626 81%, #262626 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(81%,#262626), color-stop(100%,#262626)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #353535 0%,#262626 81%,#262626 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #353535 0%,#262626 81%,#262626 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #353535 0%,#262626 81%,#262626 100%); /* IE10+ */
    background: linear-gradient(top, #353535 0%,#262626 81%,#262626 100%); /* W3C */
}
#home-page li>a{
    padding:10px 0;
    display: block;
    height:100%;
    width: 100%; 
    min-height:52px;
    float:left;
    -moz-transition:0.2s linear background;
    -webkit-transition:0.2s linear background;
    transition:0.2s linear background;
}
#home-page li>a:hover{
    background:rgba(255,255,255,0.1);
}

#home-page ol>li:first-child{
    border:none;
}
#home-page li p {
    margin:0;
}

#home-page li figure{
    float:left;
    width:25%;
    text-align:center;
}

#home-page li .content{
    float:left;
    width:62%;
}
#home-page li span.arrow{
    display: block;
    float:left;
    margin-top:12px;
    width: 13%;
    height:40px;
    background:url(/static/images/arrow.png) no-repeat center center;
}

#home-page li a{
    color: #fff;
    display: block;
    text-decoration:none;
    cursor:pointer;
}
#home-page li a:hover{
    color: #fff;
}
#home-page li h3{
    margin:0;
    font-size:13px;
    text-shadow:1px 1px 1px #000;
    text-transform:uppercase;
    font-weight:bold;
    font-style:italic;
    margin-bottom:5px;
    line-height:1em;
}

#home-page ul.meta{
    float:left;
    color: #84e0fe;
    font-size:14px;
    margin:0;
    padding:0;
    line-height:1em;
}
#home-page ul.meta li{
    float:left;
    list-style:none;
    margin-left:15px;
    text-align:center;
}
#home-page ul.meta li:first-child{
    margin-left:0;
}
#home-page ul.meta small{
    color: #d3d2d2;
    font-size:12px;
    display:block;
    margin-bottom:2px;
    text-align:center;
}

#map-canvas{
	width:300px;
	height:300px;
}

/* Transition/animation (inspired by jQTouch) */
.in,.out{
    -webkit-animation-duration:250ms;-webkit-animation-fill-mode:both;-webkit-animation-timing-function:ease-in-out}
.in{z-index:10}
.in:after{content:"";position:absolute;display:block;top:0;left:0;bottom:0;right:0}
.out{z-index:0 !important}

.slideleft.in {
    -webkit-animation-name: slideLeftIn;
}

.slideleft.out {
    -webkit-animation-name: slideLeftOut;
}

.slideright.in {
    -webkit-animation-name: slideRightIn;
}

.slideright.out {
    -webkit-animation-name: slideRightOut;
}

@-webkit-keyframes slideLeftIn {
    0% {
        -webkit-transform: translateX(100%);
    } 
    100% {
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes slideLeftOut {
    0% {
        -webkit-transform: translateX(0px);
    } 
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes slideRightIn {
    0% {
        -webkit-transform: translateX(-100%);
    } 
    100% {
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes slideRightOut {
    0% {
        -webkit-transform: translateX(0);
    } 
    100% {
        -webkit-transform: translateX(100%);
    }
}



/* css for ipad and desktop */
@media handheld, only screen and (min-width: 767px) {
    
}
